In [1]:
import os
import glob
import pandas as pd
os.chdir("output")

In [3]:
extension = "csv"
all_filenames = [i for i in glob.glob("*.{}".format(extension))]

In [4]:
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv.reset_index(drop=True, inplace=True)
combined_csv["Lenguaje"] = combined_csv["Actividad"].apply(lambda x: "Python" if "Python" in x else "JS")
combined_csv["Intentada?"] = combined_csv["Descripción"].apply(lambda x: "Nel" if "Not Submitted" in x else "Simón")
combined_csv["Correcta?"] = combined_csv["Descripción"].apply(lambda x: "Nel" if "failed" in x else "Simón")
combined_csv = combined_csv[["Actividad", "Usuario", "Lenguaje", "Intentada?", "Correcta?", "Descripción"]]

In [5]:
result = pd.DataFrame(
    {
        "Act. Correctas": combined_csv.groupby(["Usuario"])["Correcta?"].apply(lambda x: x.str.contains("Si").sum()),
        "Act. Intentadas": combined_csv.groupby(["Usuario"])["Intentada?"].apply(lambda x: x.str.contains("Si").sum()),
        "Act. con Python": combined_csv.groupby(["Usuario"])["Lenguaje"].apply(lambda x: x.str.contains("Python").sum()),
        "Act. con JS": combined_csv.groupby(["Usuario"])["Lenguaje"].apply(lambda x: x.str.contains("JS").sum()),
    }
).reset_index()

In [6]:
result

,Usuario,Act. Correctas,Act. Intentadas,Act. con Python,Act. con JS
0,AlexisMag,0,0,0,1
1,David-GuzmanD,5,0,0,6
2,JMFC99,5,0,7,1
3,LuisTez10,0,0,0,1
4,MingHsiehLo,7,0,0,8
5,ProvenPine,6,0,0,7
6,Wetgou,6,0,7,1
7,angel24r,5,0,0,6
8,angeles180398,0,0,0,7
9,jeanangelmm,0,0,0,1
10,jjanchundia,5,0,2,8
11,johdeza,7,0,0,8
12,jsistos,7,0,7,4
13,ozamo,1,0,0,2
14,rraiomgg,9,0,5,8
15,yaninmm,6,0,0,7

In [7]:
result.to_csv( "reporte_final_para_pndjos_8ta_gen.csv", index=False, encoding='utf-8-sig')